<!DOCTYPE html>
<html>
  <head>
    <title>Control Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Control Panel</h1>
      <form action="/" method="post">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="repeat">Repeat Minutes</label>
              <input type="number" class="form-control" id="repeat" name="repeat" min="10" max="59" value="<%= config.repeat %>" required>
            </div>
          </div>
          
          <div class="col-md-3">
            <div class="form-group">
              <label for="make">Make</label>
              <input type="text" class="form-control" id="make" name="make" value="<%= config.make %>">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="model">Model</label>
              <input type="text" class="form-control" id="model" name="model" value="<%= config.model %>">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="price_from">Price From</label>
              <input type="text" class="form-control" id="price_from" name="price_from" value="<%= config.price_from %>">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="price_to">Price To</label>
              <input type="text" class="form-control" id="price_to" name="price_to" value="<%= config.price_to %>">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="year_from">Year From</label>
              <input type="text" class="form-control" id="year_from" name="year_from" value="<%= config.year_from %>">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="year_to">Year To</label>
              <input type="text" class="form-control" id="year_to" name="year_to" value="<%= config.year_to %>">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="area">Location</label>
              <select name="area" id="area" class="form-control">
                <option value="" <%= config.area == '' ? 'selected' : '' %>>All Ireland</option>
                <option value="Leinster" <%= config.area == 'Leinster' ? 'selected' : '' %>>Leinster</option>
                <option value="Munster" <%= config.area == 'Munster' ? 'selected' : '' %>>Munster</option>
                <option value="Ulster" <%= config.area == 'Ulster' ? 'selected' : '' %>>Ulster</option>
                <option value="Connacht" <%= config.area == 'Connacht' ? 'selected' : '' %>>Connacht</option>
                <option value="Antrim" <%= config.area == 'Antrim' ? 'selected' : '' %>>Antrim</option>
                <option value="Armagh" <%= config.area == 'Armagh' ? 'selected' : '' %>>Armagh</option>
                <option value="Carlow" <%= config.area == 'Carlow' ? 'selected' : '' %>>Carlow</option>
                <option value="Cavan" <%= config.area == 'Cavan' ? 'selected' : '' %>>Cavan</option>
                <option value="Clare" <%= config.area == 'Clare' ? 'selected' : '' %>>Clare</option>
                <option value="Cork" <%= config.area == 'Cork' ? 'selected' : '' %>>Cork</option>
                <option value="Derry" <%= config.area == 'Derry' ? 'selected' : '' %>>Derry</option>
                <option value="Donegal" <%= config.area == 'Donegal' ? 'selected' : '' %>>Donegal</option>
                <option value="Down" <%= config.area == 'Down' ? 'selected' : '' %>>Down</option>
                <option value="Dublin" <%= config.area == 'Dublin' ? 'selected' : '' %>>Dublin</option>
                <option value="Fermanagh" <%= config.area == 'Fermanagh' ? 'selected' : '' %>>Fermanagh</option>
                <option value="Galway" <%= config.area == 'Galway' ? 'selected' : '' %>>Galway</option>
                <option value="Kerry" <%= config.area == 'Kerry' ? 'selected' : '' %>>Kerry</option>
                <option value="Kildare" <%= config.area == 'Kildare' ? 'selected' : '' %>>Kildare</option>
                <option value="Kilkenny" <%= config.area == 'Kilkenny' ? 'selected' : '' %>>Kilkenny</option>
                <option value="Laois" <%= config.area == 'Laois' ? 'selected' : '' %>>Laois</option>
                <option value="Leitrim" <%= config.area == 'Leitrim' ? 'selected' : '' %>>Leitrim</option>
                <option value="Limerick" <%= config.area == 'Limerick' ? 'selected' : '' %>>Limerick</option>
                <option value="Longford" <%= config.area == 'Longford' ? 'selected' : '' %>>Longford</option>
                <option value="Louth" <%= config.area == 'Louth' ? 'selected' : '' %>>Louth</option>
                <option value="Mayo" <%= config.area == 'Mayo' ? 'selected' : '' %>>Mayo</option>
                <option value="Meath" <%= config.area == 'Meath' ? 'selected' : '' %>>Meath</option>
                <option value="Monaghan" <%= config.area == 'Monaghan' ? 'selected' : '' %>>Monaghan</option>
                <option value="Offaly" <%= config.area == 'Offaly' ? 'selected' : '' %>>Offaly</option>
                <option value="Roscommon" <%= config.area == 'Roscommon' ? 'selected' : '' %>>Roscommon</option>
                <option value="Sligo" <%= config.area == 'Sligo' ? 'selected' : '' %>>Sligo</option>
                <option value="Tipperary" <%= config.area == 'Tipperary' ? 'selected' : '' %>>Tipperary</option>
                <option value="Tyrone" <%= config.area == 'Tyrone' ? 'selected' : '' %>>Tyrone</option>
                <option value="Waterford" <%= config.area == 'Waterford' ? 'selected' : '' %>>Waterford</option>
                <option value="Westmeath" <%= config.area == 'Westmeath' ? 'selected' : '' %>>Westmeath</option>
                <option value="Wexford" <%= config.area == 'Wexford' ? 'selected' : '' %>>Wexford</option>
                <option value="Wicklow" <%= config.area == 'Wicklow' ? 'selected' : '' %>>Wicklow</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="bodyType">Body Type</label>
              <select name="bodyType" id="bodyType" class="form-control">
                <option value="" <%= config.bodyType == '' ? 'selected' : '' %>>Any</option>
                <option value="Cabriolet" <%= config.bodyType == 'Cabriolet' ? 'selected' : '' %>>Cabriolet</option>
                <option value="Coupe" <%= config.bodyType == 'Coupe' ? 'selected' : '' %>>Coupe</option>
                <option value="Saloon" <%= config.bodyType == 'Saloon' ? 'selected' : '' %>>Saloon</option>
                <option value="Hatchback" <%= config.bodyType == 'Hatchback' ? 'selected' : '' %>>Hatchback</option>
                <option value="Estate" <%= config.bodyType == 'Estate' ? 'selected' : '' %>>Estate</option>
                <option value="MPV" <%= config.bodyType == 'MPV' ? 'selected' : '' %>>MPV</option>
                <option value="SUV" <%= config.bodyType == 'SUV' ? 'selected' : '' %>>SUV</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="car-finance">Price / Per Month</label>
              <select name="car-finance" id="car-finance" class="form-control">
                <option value="" <%= config['car-finance'] == '' ? 'selected' : '' %>>Price</option>
                <option value="yes" <%= config['car-finance'] == 'yes' ? 'selected' : '' %>>Per Month</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="engine_from">Engine From</label>
              <input type="text" class="form-control" id="engine_from" name="engine_from" value="<%= config.engine_from %>">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="engine_to">Engine To</label>
              <input type="text" class="form-control" id="engine_to" name="engine_to" value="<%= config.engine_to %>">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="mileage_from">Mileage From</label>
              <input type="text" class="form-control" id="mileage_from" name="mileage_from" value="<%= config.mileage_from %>">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="mileage_to">Mileage To</label>
              <input type="text" class="form-control" id="mileage_to" name="mileage_to" value="<%= config.mileage_to %>">
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="numDoors">Doors</label>
              <select name="numDoors" id="numDoors" class="form-control">
                <option value="" <%= config.numDoors == '' ? 'selected' : '' %>>Any</option>
                <option value="2" <%= config.numDoors == '2' ? 'selected' : '' %>>2</option>
                <option value="3" <%= config.numDoors == '3' ? 'selected' : '' %>>3</option>
                <option value="4" <%= config.numDoors == '4' ? 'selected' : '' %>>4</option>
                <option value="5" <%= config.numDoors == '5' ? 'selected' : '' %>>5</option>
                <option value="6" <%= config.numDoors == '6' ? 'selected' : '' %>>6</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="fuelType">Fuel Type</label>
              <select name="fuelType" id="fuelType" class="form-control">
                <option value="" <%= config.fuelType == '' ? 'selected' : '' %>>Any</option>
                <option value="Petrol" <%= config.fuelType == 'Petrol' ? 'selected' : '' %>>Petrol</option>
                <option value="Diesel" <%= config.fuelType == 'Diesel' ? 'selected' : '' %>>Diesel</option>
                <option value="Electric" <%= config.fuelType == 'Electric' ? 'selected' : '' %>>Electric</option>
                <option value="Hybrid" <%= config.fuelType == 'Hybrid' ? 'selected' : '' %>>Hybrid</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="verifications">Verifications</label>
              <select name="verifications" id="verifications" class="form-control">
                <option value="" <%= config.verifications == '' ? 'selected' : '' %>>Any</option>
                <option value="nct" <%= config.verifications == 'nct' ? 'selected' : '' %>>NCT</option>
                <option value="manufacturerApproved" <%= config.verifications == 'manufacturerApproved' ? 'selected' : '' %>>Manufacturer Approved</option>
                <option value="greenlightVerified" <%= config.verifications == 'greenlightVerified' ? 'selected' : '' %>>Greenlight Verified</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="transmission">Transmission</label>
              <select name="transmission" id="transmission" class="form-control">
                <option value="" <%= config.transmission == '' ? 'selected' : '' %>>Any</option>
                <option value="Manual" <%= config.transmission == 'Manual' ? 'selected' : '' %>>Manual</option>
                <option value="Automatic" <%= config.transmission == 'Automatic' ? 'selected' : '' %>>Automatic</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="source">Seller Type</label>
              <select name="source" id="source" class="form-control">
                <option value="" <%= config.source == '' ? 'selected' : '' %>>Any</option>
                <option value="private" <%= config.source == 'private' ? 'selected' : '' %>>Private</option>
                <option value="trade" <%= config.source == 'trade' ? 'selected' : '' %>>Dealer</option>
                <option value="simi" <%= config.source == 'simi' ? 'selected' : '' %>>SIMI</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="adType">For Sale</label>
              <select name="adType" id="adType" class="form-control">
                <option value="" <%= config.adType == '' ? 'selected' : '' %>>For Sale</option>
                <option value="wanted" <%= config.adType == 'wanted' ? 'selected' : '' %>>Wanted</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label for="country">Country of Registeration</label>
              <select name="country" id="country" class="form-control">
                <option value="" <%= config.country == '' ? 'selected' : '' %>>Any</option>
                <option value="Ireland" <%= config.country == 'Ireland' ? 'selected' : '' %>>Ireland</option>
                <option value="UK" <%= config.country == 'UK' ? 'selected' : '' %>>UK</option>
                <option value="Northern%20Ireland" <%= config.country == 'Northern%20Ireland' ? 'selected' : '' %>>N. Ireland</option>
                <option value="Other" <%= config.country == 'Other' ? 'selected' : '' %>>Other</option>
              </select>
            </div>
          </div>

        </div>

        <div class="row mt-4">
          <div class="col-md-3 m-auto">
            <button class="btn btn-success btn-block">Submit</button>
          </div>
        </div>

      </form>
    </div>
  </body>
</html>
